h2{
    text-align: center;
    margin-top: 10px;
}

.conteudo{
    width: 200px;
}

.texto-interno {
    font-size: 12px;
    font-weight: lighter;
    
}

mat-form-field{
    margin-left: 35px;
}

.acao{
    margin-left: 30px;
}